<% for (var i = 1; i < formSettings.length; i++) { // Start with 1 since name should always be there %>
    <input type="checkbox" name="<%= formSettings[i].name %>" value="<%= formSettings[i].name %>" class="gridCheckbox" checked><%= formSettings[i].name %></input>
<% } %>

<span id="updatedSearch" class="updated hidden"><br>Data has changed, search again for updated results.</span>
<table id="searchResults">
    <thead>
        <tr class="headerRow">
            <% for (i = 0; i < formSettings.length; i++) { %>
                <th data-type="<%= formSettings[i].name %>"><%= formSettings[i].name %></th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% for (i = 0; i < searchResults.length; i++) { %>
            <tr>
            <% for (var j = 0; j < formSettings.length; j++) { %>
                <% var currentValue = searchResults[i][formSettings[j].name] %>
                <% if (j === 0) { %>
                    <td data-type="<%= formSettings[j].name %>"><a class="itemLink" data-id="<%= searchResults[i]._id %>" href="#"><%= currentValue %></a></td>
                <% } else { %>
                    <% if (currentValue instanceof Array) { %>
                        <td data-type="<%= formSettings[j].name %>">
                        <% for (var k = 0; k < currentValue.length; k++) {
                            if (k + 1 === currentValue.length) { %>
                                <%= currentValue[k] %>
                            <% } else { %>
                                <%= currentValue[k] %>,&nbsp;
                            <% } %>
                        <% } %>
                        </td>
                    <% } else { %>
                        <td data-type="<%= formSettings[j].name%>"><%= currentValue %></td>
                    <% } %>
                <% } %>
            <% } %>
            </tr>
        <% } %>
    </tbody>
</table>